In [3]:
import pandas as pd
df = pd.read_json("news_dataset.json")

In [4]:
df.head()

                                                text  category
0  Watching Schrödinger's Cat Die University of C...   SCIENCE
1     WATCH: Freaky Vortex Opens Up In Flooded Lake    SCIENCE
2  Entrepreneurs Today Don't Need a Big Budget to...  BUSINESS
3  These Roads Could Recharge Your Electric Car A...  BUSINESS
4  Civilian 'Guard' Fires Gun While 'Protecting' ...     CRIME

In [7]:
df.category.value_counts()

category
BUSINESS    4254
SPORTS      4167
CRIME       2893
SCIENCE     1381
Name: count, dtype: int64

In [9]:
min_samples = 1381
df_business = df[df.category=="BUSINESS"].sample(min_samples,random_state=2022)
df_sports = df[df.category=="SPORTS"].sample(min_samples,random_state=2022)
df_crime = df[df.category=="CRIME"].sample(min_samples,random_state=2022)
df_science = df[df.category=="SCIENCE"].sample(min_samples,random_state=2022)

In [10]:
df_balanced = pd.concat([df_business,df_sports,df_crime,df_science],axis=0)
df_balanced.category.value_counts()

category
BUSINESS    1381
SPORTS      1381
CRIME       1381
SCIENCE     1381
Name: count, dtype: int64

In [13]:
df_balanced['category_num']=df_balanced.category.map({
'BUSINESS':0,
'SPORTS':1,
'CRIME':2,
'SCIENCE':3
})
df_balanced.head()

,text,category,category_num
11967,GCC Business Leaders Remain Confident in the F...,BUSINESS,0
2912,From the Other Side; an Honest Review from Emp...,BUSINESS,0
3408,"Mike McDerment, CEO of FreshBooks, Talks About...",BUSINESS,0
502,How to Market Your Business While Traveling th...,BUSINESS,0
5279,How to Leverage Intuition in Decision-making I...,BUSINESS,0

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(
    df_balanced.text,
    df_balanced.category_num,
    test_size=0.2,
    random_state=2022,
    stratify=df_balanced.category_num
)

In [16]:
y_train.value_counts()

category_num
3    1105
2    1105
0    1105
1    1104
Name: count, dtype: int64

In [17]:
X_train.value_counts()

text
Ovulating Women Prefer Images of Penetration Over Images of Oral Sex Canadian researchers found that during ovulation the female genitalia is more responsive to images of penetration than to images of oral sex. The difference is significantly reduced during non-fertile phases of the menstrual cycle.                                   1
Michael Jordan May Have To Admit He Is Not The Best At Something Well, this is new.                                                                                                                                                                                                                                                            1
Smartphone Lovers More Likely To Forget Things, Walk Into People Stop reading this and go outside!                                                                                                                                                                                                                                             1
Prevent PR Disaster: 6 Steps for Crisis Planning No one wants to think about the prospects for threats or calamities. But when they happen--as they inevitably will--you will be very glad you thought through how to react, before that reaction was needed.                                                                                  1
Trump Proposes Slapping $100 Billion In New Tariffs On Chinese Goods The additional tariffs were being considered “in light of China’s unfair retaliation” against earlier U.S. trade actions, Trump said.                                                                                                                                     1
                                                                                                                                                                                                                                                                                                                                              ..
Day Care Workers Fired After Encouraging Toddlers To Fight (VIDEO)                                                                                                                                                                                                                                                                             1
Police Shoot Suspect To End Los Angeles Hostage Situation The gunman was shot when heavily armed officers stormed the restaurant.                                                                                                                                                                                                              1
Endangered Green Sea Turtles Return To Florida In Record Numbers Thousands of the enormous animals showed up to nest at a favorite beach last year.                                                                                                                                                                                            1
Two Ways Entrepreneurs and CEOs Mistake Growth for Value Whether in a small or mid-size entrepreneurial business or a major corporation, the CEO sets the vision and direction for the company. But is there real value in the vision? Is the entire company focused on creating that value? Does the company culture support adding value?    1
Prime Number Gap Grows After Decades-Long Lull                                                                                                                                                                                                                                                                                                 1
Name: count, Length: 4419, dtype: int64

In [18]:
y_test.value_counts()

category_num
1    277
0    276
3    276
2    276
Name: count, dtype: int64

In [23]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import classification_report
clf = Pipeline([
    ('vectorizer_bow',CountVectorizer()),
    ('Multi NB',MultinomialNB())
])
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.75      0.87      0.81       276
           1       0.93      0.80      0.86       277
           2       0.83      0.90      0.86       276
           3       0.90      0.80      0.85       276

    accuracy                           0.84      1105
   macro avg       0.85      0.84      0.84      1105
weighted avg       0.85      0.84      0.84      1105

In [24]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import classification_report
clf = Pipeline([
    ('vectorizer_bow',CountVectorizer(ngram_range=(1,2))),
    ('Multi NB',MultinomialNB())
])
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.69      0.90      0.78       276
           1       0.95      0.74      0.83       277
           2       0.82      0.88      0.85       276
           3       0.92      0.78      0.84       276

    accuracy                           0.82      1105
   macro avg       0.85      0.82      0.83      1105
weighted avg       0.85      0.82      0.83      1105

In [26]:
import spacy
nlp=spacy.load("en_core_web_sm")
def preprocess(text):
    doc=nlp(text)
    filtered_tokens=[]
    for token in doc:
        if token.is_stop or token.is_punct:
            continue
        filtered_tokens.append(token.lemma_)
    return " ".join(filtered_tokens)

In [28]:
#use of preprocessing text
df_balanced['preprocessed_text']=df_balanced.text.apply(preprocess)
df_balanced.head()

,text,category,category_num,preprocessed_text
11967,GCC Business Leaders Remain Confident in the F...,BUSINESS,0,GCC Business Leaders remain Confident Face Reg...
2912,From the Other Side; an Honest Review from Emp...,BUSINESS,0,Honest Review employee wake morning love impor...
3408,"Mike McDerment, CEO of FreshBooks, Talks About...",BUSINESS,0,Mike McDerment ceo FreshBooks Talks give build...
502,How to Market Your Business While Traveling th...,BUSINESS,0,market business travel World recently amazing ...
5279,How to Leverage Intuition in Decision-making I...,BUSINESS,0,Leverage intuition decision making feel safe r...

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(
    df_balanced.preprocessed_text,
    df_balanced.category_num,
    test_size=0.2,
    random_state=2022,
    stratify=df_balanced.category_num
)

In [30]:
clf = Pipeline([
    ('vectorizer_bow',CountVectorizer(ngram_range=(1,2))),
    ('Multi NB',MultinomialNB())
])
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.80      0.88      0.84       276
           1       0.92      0.82      0.87       277
           2       0.83      0.92      0.87       276
           3       0.90      0.81      0.85       276

    accuracy                           0.86      1105
   macro avg       0.86      0.86      0.86      1105
weighted avg       0.86      0.86      0.86      1105